.MemberModalSession {
	visibility:hidden;
	opacity:0;
	z-index:1000000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.MemberModalSession .content {
	padding:20px;
}

.MemberModalSession.active {
	visibility:visible;
	opacity:1;
}

.MemberModalSession.active .content {
	top:100px;
}

.MemberModalSession .content {
	max-width:400px;
	background-color: #fff;
	z-index: 100000;
	padding: 25px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.MemberModalSession {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	background-color:rgba(0,0,0,.3);
	z-index: 10000;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

@media (max-width: 425px) {

	.MemberModalSession .content {
		max-width: inherit;
		left: inherit;
		margin-left: 0;
	}

}
